# Serve the public folder and hide all other folders
RewriteEngine On

RewriteCond %{HTTP_HOST} ^(www.)?revyweather.dev$

RewriteCond %{REQUEST_URI} !^/public

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /public/$1

RewriteCond %{HTTP_HOST} ^(www.)?revyweather.dev$
RewriteRule ^(/)?$ public/index.php [L]